.App {
  text-align: center;
}

.xo-font {
  font-size: 1rem !important;
  color: red !important;
  width: 3rem !important;
  height: 3rem !important;
}
.margin-table {
  margin-top: 2rem !important;
}
.margin-table-left {
  margin-left: 2rem !important;
  width: 12rem !important;
}
.game-color{
  background-color: green !important;
}
.mlr {
  margin-left: 2rem !important;
  margin-right: 2rem !important;
}
